
/* GENERAL  */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fredoka', sans-serif;
  
}

main{
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  height: 1400px;
}
img {
  max-height: 100%;
}

.clearfix::after{
  display: table;
  clear: both;
  content: "";
}

.float{
  float: left;
}
/* HEADER */
header h1{
  text-align: center;
  color: #e53176;
  padding: 33px 0;
  text-transform: capitalize;
  font-size: 2.5rem;
}

/* MAIN */

/* section1 */

 p:first-child{
  text-align: center;
  font-size: 1.2rem;
  padding-top: 15px;
}

/* section2 */

.general-container {
  
  margin-top: 43px;
  
}

.container{
  height: 100px;
  width: 30%;
  background-color: black;
  color: white;
} 

.container img {

}

.container:nth-child(3n + 2){
  margin: 0 20px;
}