
/* GENERAL  */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fredoka', sans-serif;
  
}

main{
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  height: 1400px;
}
img {
  max-height: 100%;
}

.clearfix::after{
  display: table;
  clear: both;
  content: "";
}

.float{
  float: left;
}
/* HEADER */
header h1{
  text-align: center;
  color: #e53176;
  padding: 33px 0;
  text-transform: capitalize;
  font-size: 2.5rem;
}

/* MAIN */

/* section1 */

 p:first-child{
  text-align: center;
  font-size: 1.2rem;
  padding-top: 15px;
}

/* section2 */

.general-container {
  
  margin-top: 43px;
  
}

.container{
  height: 100px;
  width: calc( (100% - 102px) / 3 ); /* 102 è 17px dei margini laterali dei .container moltiplicato per le 6 volte che si ripetono */
  min-width: 300px;
  background-color: black;
  color: white;
  margin: 0 17px 50px 17px;
} 


.container img{
  padding-right: 20px;
}
.container h3{
  padding: 10px 0 7px 0;
}
.container p {
  padding-bottom: 6px;
}
.container a {
  text-decoration: none;
  color: #038bc9;
}